<div class="ui top fixed inverted menu">
  <div class="item">
    <img src="../assets/checklist.png" />
  </div>
  <div class="item">ClipIt</div>
</div>

<div class="parent">
  <div style="margin-bottom: 20px">
    <button class="ui blue button" (click)="copy()">Copy</button>
    <button class="ui yellow button" (click)="update()">Update</button>
  </div>

  <div
    class="ui raised segment container"
    style="height: 200px"
    *ngIf="notFetched; else jsonEditor"
  >
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading...</div>
    </div>
    <p></p>
  </div>
</div>

<ng-template #jsonEditor>
  <json-editor
    [options]="jsonEditorOptions"
    [(data)]="jsonData"
    (change)="updateData($event)"
  >
  </json-editor>
</ng-template>
