.parent {
  padding: 16px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 500px;
}
